/* your styles go here */
.product .text h3 {
    height: 5.1rem;
}

ul.page-numbers{
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

a.page-numbers{
  position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f1404b;
    background-color: #fff;
    border: 1px solid #e9ecef;
}

span.page-numbers.current{
  position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f1404b;
    background-color: #fff;
    border: 1px solid #e9ecef;
    color: #fff;
background-color: #f1404b;
border-color: #f1404b;
}

ul.page-numbers>li:first-child .page-numbers {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

ul.page-numbers>li:last-child .page-numbers {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.category-pagination .page-numbers {
    display: inline-block;
}

.newsletters .row{
  margin-bottom: 0;
}
